body{
    background-color: rgb(0, 0, 56);
    color:whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}
#lights{
    --hl: #dc143c;
    font-family: fantasy;
    font-size: large;
    background-color: rgba(0, 0, 0, 0.226);
    border-radius: 45%;
    border-color: var(--hl);
    cursor: pointer;
    color: white;

    width: 140px;
    height: 100px;
    display: block;
    margin: 0 auto;
    margin-top: 100px;

    transition: transform 0.2s ease;
}

#lights:hover {
    transform: scale(1.1);
}
h5{
    color: #ffffff;
}
li{
    color: #ffffff;
}
#names{
    color: white;
    border: none;
    background-color: #00000000;
    border-bottom-color: #ffffff;
    margin-top: 180px;
    cursor: pointer;
}
#win{
    background-color: rgb(0, 2, 35);
    border-radius: 10%;
    border-color: white;
}
#back{
    background-color: #ffffff00;
    border: none;
    margin: right 0;
    color:white;
    cursor: pointer;
#back:hover{
    transform: color(#e40606);
}
dialog::backdrop {
    background-color: rgb(0, 0, 0);
}
}